
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding:0; 
    font-family: "Roboto", sans-serif;
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}

.home{

}

.home ul li{
    display: flex;
    gap: 11px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}
.heading{
    display: flex;
    gap: 11px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img{
    width: 30px;
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
}
.footer a{
    color: gray;
}